!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %title Ryan and Jens Wedding

    %link{:href => "/css/simplex.min.css", :rel => "stylesheet"}

  %body

    %nav.navbar.navbar-default.navbar-fixed-top
      %div.container-fluid
        %div.navbar-header
          %a.navbar-brand{:href => "#"}
            The Wedding of Jen & Ryan

    %div.container
      Wagwan
      -if invitee.count > 1
        -invitee.each_with_index do |i, x|
          = "#{i[0]} and" if x==0
          = "#{i[0]}," if x!=0
      -else
        ="#{invitee.first[0]}, "

      Jen and Ryan invite you to their wedding.

      %h2
        Where & When

      %p
        Kew Gardens fam.

      %p
        Ceremony starts at 1:30, the evening finishes at 12:00. Access to Kew Gardens
        is provided for the day.

      %h2
        Local Places to Stay

      %p
        %a{:href => "#"}>Place 1 - link
      %p
        %a{:href => "#"}>Place 2 - link
      %p
        %a{:href => "#"}>Place 3 - link
      %p
        %a{:href => "#"}>Place 4 - link

      %h2
        Gift registry

      %p
        If you would like to give us a gift then we are registered at trail finders,
        please click here.

      %h2
        RSVP

      %p
        Please RSVP by 1st July 2015 using the links below. Any problems please contact
        us directly.

      %p
        /*%a{:href => "#"}>Please RSVP Here*/

      -invitee.each do |i, u|
        %div.row
          %div.col-md-4
            %a.btn.btn-success.btn-block{:href => u, :target => "_blank"} #{i}, Please RSVP Here
            %p
