!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %title The Wedding of Jen & Ryan

    %link{:href => "/css/cerulean.min.css", :rel => "stylesheet"}
    %link{:href => "/css/custom.css", :rel => "stylesheet"}

  %body

    %nav.navbar.navbar-default.navbar-fixed-top
      %div.container-fluid
        %div.navbar-header
          %a.navbar-brand{:href => "#"}
            Jen and Ryan's Wedding

    %div.container-fluid

      %p
        Welcome
        -if invitee.count == 2
          -invitee.each_with_index do |i, x|
            = "#{i[0]} and" if x==0
            = "#{i[0]}," if x!=0
        -elsif invitee.count == 4
          -invitee.each_with_index do |i, x|
            = "#{i[0]}," if x < 3
            = "and #{i[0]}," if x == 3
        -else
          ="#{invitee.first[0]}, "

        please see below for details about our wedding - please be sure to RSVP at the bottom of the page.

      %h3 Where?

      %p
        Cambridge Cottage,
        %br Kew Gardens,
        London

      %div.google-maps
        %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?q=Cambridge%20Cottage%2C%20Kew%20Gardens%2C%20Richmond%2C%20United%20Kingdom&key=AIzaSyCpHdELUBeB6GTEXyWNNFDqUzsmj7rqnYg", :style => "border:0", :width => "100%"}

      %p
        Regrettably, our venue is not suitable for young children. If you need
        any help organising childcare for the day, please do let us know.

      %h3 When?

      %p
        1pm, the 1st of August, 2015.

      %h3 How?

      %p
        Kew Gardens is 10 miles from central London.

        %br
        %br

        %a{:href => "http://www.kew.org/visit-kew-gardens"}http://www.kew.org/visit-kew-gardens

        %br
        %br

        The venue, Cambridge Cottage, is approximately 500 metres from the main
        entrance to Kew Gardens, Victoria Gate and is best accessed by walking
        around Kew Gardens as opposed to through it. If you fancy a stroll
        through the beautiful botanical gardens prior to the ceremony, our
        guests have free entry all day, so long as you give our name at the
        entrance. However, please leave at least 20 minutes walking time if you
        do choose to enter through the main gate.

      %h3 Public Transport


      %img{:src => "/images/kew_transport.png", :class => "img-responsive"}

      %p
        You can plan your journey ahead of time using the following link:
        %br
        %a{:href => "http://www.tfl.gov.uk/plan-a-journey/"}http://www.tfl.gov.uk/plan-a-journey/

      %p
        %strong By Tube:
        Kew Gardens Tube Station is on the Overground and District lines and is
        a 15-20 minute walk (depending on heel height!) to venue.

      %p
        %strong By Bus:
        Route 391 stops closest to Cambridge Cottage Kew (ask for Mortlake Road
        Kew Road Stop), and runs between Fulham and Richmond.

      %p
        %strong By Train:
        South West Trains run services to Kew Bridge station, which is
        approximately a 5-10 minute walk to the venue.

        %br

        See
        %a{:href => "http://www.nationalrail.co.uk/"}http://www.nationalrail.co.uk/
        for further information

      %p
        %strong By Car:
        We would strongly advise people to use public transport to attend our
        wedding, as there are no parking spaces available at Cambridge Cottage
        itself. There is some free parking from 10am on Kew Road (A307) as well
        as some spaces around Kew Green. Residential parking restrictions apply
        throughout the Kew area and spaces will be very limited owing to the fact
        that the gardens are a very popular tourist attraction and it will be
        during the busy school holiday period.

      %p
        The postal address for GPS is: Kew, Richmond, Surrey, TW9 3AB.
        The gardens are well sign posted and Cambridge Cottage is just off
        Kew Green, which is to the North East of the main entrance (Victoria
        Gate).

      %p
        %strong Cabs and Taxis:
      %p
        %strong Kew Taxis
        %br
        +44 20 3475 4700
        %br
        Booking form available online:
        %a{:href => "http://www.allkewtaxis.co.uk/"}http://www.allkewtaxis.co.uk/

      %p
        %strong Angels Cars:
        %br
        +44 20 8740 0400

      %p
        %strong Riverside Cars:
        %br
        +44 20 8878 7777

      %h3 Local Places to Stay

      %p
        Kew is easily accessible by public transport so there are many potential
        areas of London for our guests to stay in, with a large variation in price.

      %p
        Here are some options available:

      %p
        %strong Travelodge:
        %br
        Kew Bridge: £60-80: 0.9 miles away
        %br
        Ealing: £50-80: 3.2 miles away
      %p
        %a{:href => "http://www.travelodge.co.uk/"}http://www.travelodge.co.uk/

      %p
        %strong Premier Inn:
        %br
        Kew: £120, 1 mile away
        %br
        Brentford: £100: 1.5 miles away
        %br
        Ealing: £60-100: 3 miles away
        %br
        Richmond: £200, 1.4 miles away

      %p
        %a{:href => "http://www.premierinn.com/"}http://www.premierinn.com/

      %p
        %strong Chiswick Rooms:
        £115-150, 3 miles away
        %br
        %a{:href => "http://www.chiswickrooms.co.uk/"}http://www.chiswickrooms.co.uk/

      %p
        %strong The Rose of York, Petersham:
        £110-150, 2.8 miles away
        %br
        %a{:href => "http://www.roseofyorkrichmond.co.uk/"}http://www.roseofyorkrichmond.co.uk/

      %p
        %strong The Victoria, Richmond:
        £125-150: 2 miles away
        %br
        %a{:href => "http://www.thevictoria.net/"}http://www.thevictoria.net/

      %p
        %strong High Road House, Chiswick:
        £170-220, 2 miles away
        %br
        %a{:href => "http://www.highroadhouse.co.uk/"}http://www.highroadhouse.co.uk/

      %p
        %strong The Clarion Collection Richmond Gate:
        £150-250, 2.7 miles away
        %br
        %a{:href => "http://www.clarionhotel.com/hotel-richmond_upon_thames-united_kingdom-GB191"}http://www.clarionhotel.com/hotel-richmond_upon_thames-united_kingdom-GB191

      %p
        %strong Petersham Hotel:
        £200, 2.8 miles
        %br
        %a{:href => "http://www.petershamhotel.co.uk/"}http://www.petershamhotel.co.uk/

      %h3 Gifts

      %p
      We are going on honeymoon straight after our wedding to Sri Lanka. If you
      would like to contribute to our dream honeymoon, please do so via our John
      Lewis gift list
      %a{:href => "https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp"}here.
      Our code is 636657 and can be used online and in store
      from 20th June 2015.

      %h3 RSVP

      %p
        Please contact Jen or Ryan for any extra dietary requirements or any
        questions you might have via email:
        %br
        %a{:href => "mailto:Jennifer.e.willis@gmail.com"}Jennifer.e.willis@gmail.com
        or
        %br
        %a{:href => "mailto:ryanhughdean@gmail.com"}ryanhughdean@gmail.com

      %p
        -invitee.each do |i, u|
          %div.row
            %div.col-md-4
              %a.btn.btn-primary.btn-block{:href => u, :target => "_blank"} #{i}, Please RSVP Here
              %p
